﻿#logout-btn {
    background: #D9534F;
    color: #FFF;
}
/*統一不同控制項高度*/
.input-sm, .btn-sm {
    height: 30px;
}
.search-panel {
    background-color: #FFF;
}
.control-panel {
    background-color: #FFF;
    text-align: right;
}