@charset "UTF-8";

body {
  color: $color-white;
  background: $color-white;
  font-size: 14px;
}
.wrap{
  position: relative;
  padding: 60px 0 50px 0;
  height: 100vh;
}
main{
  position: relative;
  height: 100%;
}


@media (min-width: $media-lg) {
  .wrap{
    padding: 60px 20px 20px 20px;
    min-height: 600px;
    min-width: 992px;
  }
}