@charset "UTF-8";

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  .note{

    font-size: 12px;
    line-height: 20px;
    color:$color-greyish;
    display: none;
  }
}

@media (min-width: $media-lg) {
  footer {
    .note{
      @include ellipsis(100%,1);
      font-size: 12px;
      line-height: 20px;
    }
  }
}

