@charset "UTF-8";

header {
  position: fixed;
  top:0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 60px;
  background: $color-white;

  .logo{
    display: inline-block;
    float: right;
    padding: 10px;
    width: 60px;
  }
}

@media (min-width: $media-lg) {
  header {
    padding: 0 20px;
    .logo{
     float: left;
    }
  }
}