@charset "UTF-8";
.banner{
  &__main{
    height: 53vw;
    &-detail{
      height: 53vw;
    }
  }
  &__max {
    margin-top: 50px;
    @include img-scale(375,200);
    &--black{
      &:before{
        background: rgba(0,0,0,0.8);
      }
    }
  }
}

@media (min-width: $media-lg) {
  .banner{
    &__main{
        height: 25vw;
        &-detail{
          height: 53vw;
        }
    }
    &__max {
      margin-top: 0;
      @include img-scale(1440,610);
      &--black{
        height: 610px;
        overflow: hidden;
        &:before{
          background: rgba(0,0,0,0.8);
          height: 100%;
        }
      }
    }
  }
}