@charset "UTF-8";

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$media-xs: 0 !default;
$media-sm: 576px !default;
$media-md: 768px !default;
$media-lg: 992px !default;
$media-xl: 1200px !default;


/* Color palette */
$color-white: #fff;
$color-white-two: #f6f6f6;
$color-white-three: #e3e3e3;
$color-white-four: #dcdcdc;
$color-link-water:#d1d2d4;
$color-greyish:#ababab;
$color-warm-grey: #898989;
$color-greyish-brown: #4a4a4a ;
$color-charcoal-grey: #39393a;
$color-black: #222222;

$color-blue: #0953cf;






/* Font */
@import url(//fonts.googleapis.com/css?family=Cormorant+Infant);
$font-family-base: 'VW_HeadWeb_Bold', 'VW_Head_Office', 'PingFangTC', 'Microsoft JhengHei', 'sans-serif';

body,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-family-base;
}

h1{ font-size: 23px; line-height: 1.5; }
h2{ font-size: 18px; line-height: 1.5; }
h3{ font-size: 16px; line-height: 1.5; }
h4{ font-size: 13px; line-height: 1.5; }
 p{ font-size: 13px; line-height: 1.5; }


/* a button */
button:focus,
a:focus,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  outline: none;
  //color: $color-charcoal-grey;
}
a{
  color: $color-white;
}

.ck-edit{
  p{
    font-size: 14px;
    line-height: 25px;
  }
}