@charset "UTF-8";
.booking-nav {
  color: $color-greyish-brown;
  background: rgba(255,255,255,0.9);
  text-align: center;
  padding: 0;
  &__box {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    height: 50px;
    width: 50%;
    margin: 15px 0;
    padding: 0 30px;
    border-left: solid 1px rgba(142, 118, 20, 0.5);
    .dropdown-toggle {
      padding: 0;
      &:hover {
        color: $color-greyish;
      }
    }
    &--btn {
      padding: 0;
      margin: 0;
      text-align: center;
    }
    &:nth-child(2),
    &:nth-child(4) {
      border-left: none;
    }
    &:first-child,
    &:last-child {
      width: 100%;
      border-left: solid 1px rgba(255, 255, 255, 0.0);
    }
  }
  &__title {
    line-height: 17px;
    letter-spacing: 0.7px;
  }
  &__date {
    position: relative;
    display: flex;
    align-items: flex-end;
    input{
      position: absolute;
      width: 100%;
      opacity: 0;
    }
  }
  &__day {
    line-height: 22px;
    font-size: 28px;
  }
  &__month {
    line-height: 1;
    font-size: 14px;
    margin: 0 10px;
  }
  &__week {
    line-height: 1;
    font-size: 14px;
  }
  &__meals {
    line-height: 1;
    font-size: 14px;
  }
  &__restaurant {
    color: $color-greyish-brown;
    &::after {
      content: "\f3d0";
      border: none;
      vertical-align: -0.125em;
      font-family: "Ionicons";
      font-size: 14px;
    }
  }
  &__number {
    line-height: 22px;
    font-size: 28px;
    color: $color-greyish-brown;
    &::after {
      content: "\f3d0";
      border: none;
      vertical-align: 0.125rem;
      font-family: "Ionicons";
      font-size: 14px;
    }
  }
  &__submit {
    display: block;
    background: $color-dull-orange;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.7px;
    padding: 15px 37px;
    &:hover {
      color: $color-white !important;
      background: $color-brownish-orange;
    }
  }
}
.booking-bar {
  position: relative;
  color: $color-greyish-brown;
  background: rgba(110, 6, 7, 0.9);
  text-align: center;
  margin-top: -58px;
  padding: 20px 0 30px 0;
  &__box {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }
  &__title {
    line-height: 25px;
    font-size: 18px;
    letter-spacing: 1.1px;
    margin-bottom: 20px;
  }
  &__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 20%;
  }
  &__text{
    line-height: 20px;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-left: 0;
    width: auto;
    text-align: left;
    &:first-child{
      margin-left: 0;
    }
    a{
      color: $color-greyish-brown;
    }
  }
  &--bottom{
    margin-top: 30px;
    background: transparent;
    color: $color-greyish-brown;
    box-shadow: 0 -1px 0 0 $color-hazel;
    a{
      color: $color-greyish-brown;
    }
  }
}

@media (min-width: $media-md) {
  .booking-nav {
    position: relative;
    margin-top: -58px;
  }
  .booking-bar {
    position: relative;
    margin-top: -58px;
    &--bottom{
      margin-top: 30px !important;
      background: transparent;
      color: $color-greyish-brown;
      box-shadow: 0 -1px 0 0 $color-hazel;
      a{
        color: $color-greyish-brown;
      }
    }
  }
}

@media (min-width: $media-lg) {
  .booking-nav {
    position: relative;
    color: $color-greyish-brown;
    background: rgba(255,255,255,0.9);
    text-align: center;
    margin-top: -96px;
    padding: 8px 0;
    &__box {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      justify-content: center;
      flex-wrap: nowrap;
    }
    &__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: left;
      height: 50px;
      width: initial;
      margin: 15px 0;
      padding: 0 30px;
      border-left: solid 1px rgba(142, 118, 20, 0.5);
      white-space: nowrap;
      .dropdown-toggle {
        padding: 0;
        &:hover {
          color: $color-greyish;
        }
      }
      &--btn {
        padding: 0 10px;
      }
      &:last-child,
      &:nth-child(2),
      &:nth-child(4) {
        border-left: solid 1px rgba(142, 118, 20, 0.5);
      }
      &:first-child {
        width: initial;
        border-left: solid 1px rgba(255, 255, 255, 0.0);
      }
    }

    &__title {
      line-height: 17px;
      letter-spacing: 0.7px;
      white-space: nowrap;
    }
    &__date {
      display: flex;
      align-items: flex-end;
    }
    &__day {
      line-height: 22px;
      font-size: 28px;
      white-space: nowrap;
    }
    &__month {
      line-height: 1;
      font-size: 14px;
      margin: 0 10px;
      white-space: nowrap;
    }
    &__week {
      line-height: 1;
      font-size: 14px;
      white-space: nowrap;
    }
    &__meals {
      line-height: 1;
      font-size: 14px;
      white-space: nowrap;
    }
    &__restaurant {
      color: $color-greyish-brown;
      &::after {
        content: "\f3d0";
        border: none;
        vertical-align: -0.125em;
        font-family: "Ionicons";
        font-size: 14px;
      }
    }
    &__number {
      line-height: 22px;
      font-size: 28px;
      &::after {
        content: "\f3d0";
        border: none;
        vertical-align: 0.125rem;
        font-family: "Ionicons";
        font-size: 14px;
      }
    }
    &__submit {
      display: block;
      color: $color-white !important;
      background: $color-dull-orange;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.7px;
      padding: 15px 37px;
      &:hover {
        color: $color-white !important;
        background: $color-brownish-orange;
      }
    }
  }
  .booking-bar {
    position: relative;
    color: $color-greyish-brown;
    background: rgba(110, 6, 7, 0.9);
    text-align: center;
    margin-top: -58px;
    padding: 20px 0 30px 0;
    &__box {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: nowrap;
    }
    &__title {
      line-height: 25px;
      font-size: 18px;
      letter-spacing: 1.1px;
      margin-bottom: 20px;
    }
    &__info{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-left: 0;
    }
    &__text{
      line-height: 20px;
      font-size: 14px;
      letter-spacing: 0.5px;
      margin-left: 30px;
      width: auto;
      &:first-child{
        margin-left: 0;
      }
      a{
        color: $color-greyish-brown;
      }
    }
    &--bottom{
      margin-top: 30px;
      background: transparent;
      color: $color-greyish-brown;
      box-shadow: 0 -1px 0 0 $color-hazel;
      a{
        color: $color-greyish-brown;
      }
    }
  }
}
