@charset "UTF-8";
.breadcrumb {
  display: block;
  padding: 0.75rem 15px;
  margin-top: 10px;
  margin-bottom: 15px;
  list-style: none;
  background-color: transparent;
  border-radius: 0;
  font-size: 13px;
  line-height: 18px;
}

.breadcrumb-item {
  display: inline-block;
  color: $color-charcoal-grey;
  &::before{
    padding-left: 0.1rem !important;
    padding-right: 0.1rem !important;
  }
  &.active {
    color: $color-warm-grey;
  }
  a {
    color: $color-charcoal-grey;
    &:hover {
      text-decoration: underline;
    }
  }
}


@media (min-width: $media-md) {
  .breadcrumb {
    padding: 0.75rem 0;
  }
}