@charset "UTF-8";

.btn{
  &-booking{
    position: relative;
    display: block;
    width: 100%;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-align: center;
    color: $color-white;
    background: $color-dull-orange;
    padding: 10px;
    border:$color-dull-orange 5px solid;
    box-shadow: 0 0 0 1px $color-white inset;
    &:hover{
      color: $color-white;
      background: $color-brownish-orange;
      border:$color-brownish-orange 5px solid;
    }
  }
  &-intro{
    position: relative;
    display: block;
    width: 100%;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-align: center;
    color: $color-hazel !important;
    background: $color-white;
    padding: 10px;
    border:$color-white 5px solid;
    box-shadow: 0 0 0 1px $color-dull-orange inset;

    &:hover{
      color: $color-dull-orange;
      background: $color-white;
      border:$color-white 5px solid;
    }
  }
  &-bus{
    line-height: 0;
    font-size: 14px;
    color: $color-hazel;
    margin-bottom: 20px;
    margin-top: 15px;
    .icon{
      margin-right: 5px;
      line-height: 20px;
      font-size: 18px;
    }
    &:hover{
      color: $color-hazel;
    }
  }
}
