@charset "UTF-8";

@mixin img-scale($imgW:1,$imgH:1) {
  position: relative;
  display: block;
  &:before {
    content: '';
    display: block;
    padding-top: $imgH/$imgW*100%;
  }
  >img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: auto !important;
    max-width: 100%;
    max-height: 100%;
  }
}
