@charset "UTF-8";
.modal {
  &-backdrop{
    &.show{
      opacity: 0.95;
    }
  }
  &-content{
    position: relative;
    border-radius: 0;
    border: none;
    background: transparent;
  }
  &-body{
    padding: 0;
  }
  .close{
    position: absolute;
    top:-30px;
    right:0;
    color:$color-white;
    text-shadow: none;
    text-align: right;
    margin-bottom: 10px;
  }
}

