@charset "UTF-8";

.photo{
  &-twins{
    overflow: hidden;
    flex-wrap:nowrap;
    height: 50vw;
    &__left{
      overflow: hidden;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 50%;
      flex: 1 0 25%;
      transition: flex-basis 800ms ease-in-out;
      &:hover{
        flex-basis: 75%;
        .photo-twins__left-title{
          color: $color-white;
          background: rgba(34,34,34,0.8);
        }
      }
      &-title{
        display: inline-block;
        line-height: 20px;
        font-size: 14px;
        color: $color-white;
        padding: 20px;
        background: rgba(34,34,34,0.6);
        .icon{
          margin-right: 20px;
        }
      }
    }
    &__right{
      overflow: hidden;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 50%;
      flex: 1 0 25%;
      transition: flex-basis 800ms ease-in-out;
      &:hover{
        flex-basis: 75%;
        .photo-twins__right-title{
          color: $color-white;
          background: rgba(34,34,34,0.8);
        }
      }
      &-title{
        display: inline-block;
        line-height: 20px;
        font-size: 14px;
        color: $color-white;
        padding: 20px;
        background: rgba(34,34,34,0.6);
        .icon{
          margin-left: 20px;
        }
      }
    }
    &__bg{
      &-grey{
        background: $color-white-two;
        padding: 1px 0 50px 0;
        //margin: 50px 0;
        padding: 50px 0;
      }
      &-white{
        background: $color-white;
        padding: 1px 0 50px 0;
        //margin: 50px 0;
        padding: 50px 0;
      }
      &-half{
        position: relative;
        margin-bottom: 50px;
        padding: 20px 0;
        &:before{
          position: absolute;
          content: '';
          width: 100%;
          height: 22%;
          bottom: 0;
          left: 0;
          z-index: -1;
          background: $color-white-two;
        }
      }
    }
  }
  &-two{
    position: relative;
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
    cursor: pointer;
    &__info{
      position: absolute;
      width: 100%;
      height: 100%;
      top:45%;
      left:0;
      padding: 20px;
      background:  linear-gradient(to top, rgba(82, 63, 63, 0.9), rgba(82, 63, 63, 0.9), rgba(82, 63, 63, 0));
      transition: all 0.5s ease-in-out;
    }
    &__title{
      line-height: 25px;
      font-size: 18px;
      color: $color-white;
      margin: 12% 0;
      .icon{
        margin-left: 10px;
      }
    }
    &__text{
      font-size: 14px;
      line-height: 1.79;
      color: $color-white;
    }
    &:hover{
      .photo-two__info{
        top:0;
      }
    }
  }
  &-two-zoom{
    position: relative;
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
    &:after{
      position: absolute;
      content: '';
      background:   linear-gradient(to top, rgba(82, 63, 63, 0.9), rgba(82, 63, 63, 0));
      width: 100%;
      height: 36%;
      bottom: 0;
      opacity: 1;
      transition: all 0.3s ease-in-out;
    }
    &__img{
      @include img-scale(585,326);
    }
    &__title{
      position: absolute;
      bottom: 0;
      left:0;
      z-index: 1;
      margin: 15px 20px;
      color: $color-white;
      line-height: 25px;
      font-size: 18px;
      .icon{
        opacity: 0;
        margin-left: 10px;
      }
    }
    &__text{
      position: absolute;
      bottom: 0;
      left:0;
      z-index: 1;
      margin: 15px 20px;
      color: $color-white;
      line-height: 20px;
      font-size: 14px;
      opacity: 1;
    }
    &:hover{
      &:after{
        opacity: 0;
      }
      .photo-two-zoom{
        &__img{
          animation: zoomin 20s ease-in-out infinite;
        }
        &__title{
          display: flex;
          justify-content: center;
          align-items: center;
          top:0;
          left:0;
          bottom: 0;
          right:0;
          .icon{
            opacity: 1;
          }
        }
        &__text{
          opacity: 0;
        }
      }
    }
  }
  &-three{
    margin-right: -1px;
    margin-left: -1px;
    &__bg{
      &-grey{
        background: $color-white-two;
        padding: 1px 0 50px 0;
      }
      &-white{
        background: $color-white;
        padding: 1px 0 50px 0;
      }
    }
    &__item{
      position: relative;
      display: block;
      overflow: hidden;
      margin: 10px 1px 0 1px;
      padding: 0;
      height: 250px;

      &:after{
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        bottom:0;
        left:0;
        opacity: 1;
        background: linear-gradient(to top, rgba(58, 26, 13, 0.8), rgba(58, 26, 13, 0.3));
        transition: all 0.8s ease-in-out;
      }
      &:hover{
        &:after{
          opacity: 0.5;
          transition: all 0.8s ease-in-out;
        }
        .photo-three__img{
          transform: scale(1.2);
        }
      }
    }
    &__img{
      width: 100%;
      height: 100%;
      transition: all 0.8s ease-in-out;
    }
    &__title{
      position: absolute;
      text-align: center;
      width: 100%;
      bottom: 0;
      margin: 20px auto;
      line-height: 25px;
      font-size: 18px;
      color: $color-white;
      z-index: 1;

      .ion-android-remove{
        margin: 0 15px;
      }
    }
  }
  &-threes{
    margin-right: -1px;
    margin-left: -1px;
    &__bg{
      &-grey{
        background: $color-white-two;
        padding: 1px 0 50px 0;
      }
      &-white{
        background: $color-white;
        padding: 1px 0 50px 0;
      }
    }
    &__item{
      position: relative;
      display: block;
      overflow: hidden;
      margin: 10px 1px 0 1px;
      padding: 0;
      height: 250px;

      &:after{
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        bottom:0;
        left:0;
        opacity: 0.5;
        background: linear-gradient(to top, rgba(58, 26, 13, 0.8), rgba(58, 26, 13, 0.3));
        transition: all 0.8s ease-in-out;
      }
      &:hover{
        color: $color-white;
        &:after{
          opacity: 1;
          transition: all 0.8s ease-in-out;
        }
        .photo-threes__img{
          transform: scale(1.2);
          transition: all 0.8s ease-in-out;
        }
        .photo-threes__title{
          opacity: 0;
          transition: all 0.8s ease-in-out;
        }
        .photo-threes__info{
          opacity: 1;
          transition: all 0.8s ease-in-out;
        }
      }
    }
    &__img{
      width: 100%;
      height: 100%;
      transition: all 0.8s ease-in-out;
    }
    &__title{
      position: absolute;
      text-align: center;
      width: 100%;
      bottom: 0;
      margin: 20px auto;
      line-height: 25px;
      font-size: 18px;
      color: $color-white;
      z-index: 1;
      transition: all 0.8s ease-in-out;
      .ion-android-remove{
        margin: 0 15px;
      }
    }
    &__info{
      position: absolute;
      opacity: 0;
      top:40%;
      left:0;
      width: 100%;
      padding: 0 50px;
      text-align: center;
      z-index: 1;
      transition: all 0.8s ease-in-out;
    }
    &__text{
      line-height: 30px;
      font-size: 14px;
      margin-bottom: 35px;
    }
    &__more{
      display: inline-block;
      line-height: 30px;
      font-size: 14px;
      border-bottom: 2px solid $color-dull-orange;
    }
  }
  &-four{
    position: relative;
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
    &__info{
      position: absolute;
      width: 100%;
      height: 100%;
      top:45%;
      left:0;
      padding: 20px;
      background:  linear-gradient(to top, rgba(82, 63, 63, 0.9), rgba(82, 63, 63, 0.9), rgba(82, 63, 63, 0));
      transition: all 0.8s ease-in-out;
    }
    &__title{
      line-height: 25px;
      font-size: 18px;
      color: $color-white;
      margin: 55px 0;
      .icon{
        margin-left: 10px;
      }
    }
    &__text{
      font-size: 14px;
      line-height: 1.79;
      color: $color-white;
    }
  }
}
@keyframes zoomin {
  0.00% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@media (min-width: $media-md) {
  .photo{
    &-twins {
      height: 300px;
      &__left{
        &-title{
          padding: 40px;
        }
      }
      &__right{
        &-title{
          padding: 40px;
        }
      }
      &__bg{
        &-half{
          &:before{
            height: 32%;
            bottom: 0;
          }
        }
      }
    }
    &-two{
      &__info{
        top:50%;
      }
    }
    &-three{
      &__item{
        height: 304px;
      }
      &__title {
        margin: 40px auto;
      }
      &__bg{
        &-grey{
          padding: 50px 0;
        }
        &-white{
          padding: 50px 0;
        }
      }
    }
    &-threes{
      &__item{
        height: 304px;
      }
      &__title {
        margin: 40px auto;
      }
      &__bg{
        &-grey{
          padding: 50px 0;
        }
        &-white{
          padding: 50px 0;
        }
      }
    }
  }
}

@media (min-width: $media-lg) {
  .photo{
    &-two-zoom{
      &__title{
        bottom: 0;
      }
      &__text{
        left:auto;
        right:0;
      }
    }
    &-twins {
      height: 506px;
      &__bg{
        &-half{
          &:before{
            height: 45%;
            bottom: -10%;
          }
        }
      }
    }
    &-three{
      &__item{
        height: 517px;
      }
    }
    &-threes{
      &__item{
        height: 517px;
      }
    }
  }
}