@charset "UTF-8";

.title{
  &-main{
    padding-left: 0;
    padding-right: 0;
    margin-top: 30px;
    margin-bottom: 10px;
    &__color-bar{
      margin-top: -25px;
    }
    &__title{
      line-height: 29px;
      font-size: 24px;
      font-weight: 300;
      color: $color-hazel;
      margin-bottom: 10px;
      margin-top: -10px;
      &-white{
        line-height: 29px;
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 20px;
        margin-top: -10px;
        color: $color-white;
        margin-bottom: 20px;
      }
    }
    &__text{
      &-title{
        line-height: 22px;
        font-size: 16px;
        font-weight: 300;
        color: $color-charcoal-grey;
        margin: 0 0 10px 0;
      }
      &-article{
        line-height: 17px;
        font-size: 12px;
        font-weight: 300;
        color: $color-charcoal-grey;
      }
      &-white{
        line-height: 17px;
        font-size: 12px;
        font-weight: 300;
        color: $color-white;
      }
    }
    &__item{
      color: $color-charcoal-grey;
      display: block;
      margin-bottom: 10px;
      line-height: 20px;
      font-size: 14px;
      font-weight: 300;
      .icon{
        font-size: 19px;
        width: 20px;
        text-align: center;
        margin-right: 10px;
      }
    }
    &__btn{
      &-more{
        display: inline-block;
        line-height: 20px;
        letter-spacing: 0.7px;
        font-size: 14px;
        color: $color-white;
        background: $color-dull-orange;
        padding: 15px 37px;
        margin-bottom: 20px;
        &:hover{
          color: $color-white;
          background: $color-brownish-orange;
        }
      }
      &-link{
        display: block;
        color: $color-hazel;
        font-size: 13px;
        line-height: 18px;
        margin-left: 15px;
        .icon{margin-right: 5px;}
        &:hover{
          color: $color-hazel;
        }
        &:first-child{
          //margin-left: 0;
        }
      }
    }
    &__more{
      display: block;
      margin-top: -30px;
      color: $color-hazel;
      &:hover{
        color: $color-hazel;
      }
      .icon{
        margin-left: 10px;
      }
    }
    &__more-link{
      display: inline-flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
}

@media (min-width: $media-lg) {
  .title{
    &-main{
      padding-left: 0;
      padding-right: 0;
      margin-top: 10px;
      margin-bottom: 10px;
      &__color-bar{
        margin-top: -25px;
      }
      &__title{
        line-height: 34px;
        font-size: 28px;
        font-weight: 300;
        color: $color-hazel;
        margin-bottom: 10px;
        margin-top: -10px;
      }
      &__text{
        &-title{
          line-height: 25px;
          font-size: 18px;
          font-weight: 300;
          color: $color-charcoal-grey;
          margin: 15px 0 10px 0;
        }
        &-article{
          line-height: 20px;
          font-size: 14px;
          font-weight: 300;
          margin-bottom: 10px;
          color: $color-charcoal-grey;
        }
        &-white{
          line-height: 20px;
          font-size: 14px;
          font-weight: 300;
          margin-bottom: 10px;
          color: $color-white;
        }
      }
      &__item{
        color: $color-charcoal-grey;
        display: block;
        margin-bottom: 20px;
        line-height: 20px;
        font-size: 14px;
        font-weight: 300;
        .icon{
          font-size: 19px;
          width: 20px;
          text-align: center;
          margin-right: 10px;
        }
      }
      &__btn{
        &-more{
          display: inline-block;
          line-height: 20px;
          letter-spacing: 0.7px;
          font-size: 14px;
          color: $color-white;
          background: $color-dull-orange;
          padding: 15px 37px;
          margin-bottom: 20px;
          &:hover{
            color: $color-white;
            background: $color-brownish-orange;
          }
        }
        &-link{
          display:inline-block;
          color: $color-hazel;
          font-size: 14px;
          line-height: 18px;
          margin-left: 15px;
          .icon{margin-right: 5px;}
          &:hover{
            color: $color-hazel;
          }
          &:first-child{
            margin-left: 0;
          }
        }
      }
      &__more{
        margin-top: 25px;
        color: $color-hazel;
        &:hover{
          color: $color-hazel;
        }
        .icon{
          margin-left: 10px;
        }
      }
    }
  }
}